<%= render :partial => "admin/events/header" %>

<script type="text/javascript" charset="utf-8">
$(function() {
	$('a[data-remote=true]').live('click', function() {
	  return request({ url : this.href });
	});
});
</script>

<h1>Listing events</h1>

<table>
  <tr>
    <th>Publish state</th>
    <th></th>
    <th>Title</th>
    <!--<th>Description</th>-->
    <th>Location</th>
    <th>Start time</th>
    <th>Organisation</th>
    <th>Url</th>
    <th>Source</th>
    <th>Telephone</th>
    <th>Email</th>
    <th>People</th>
    <th>Notes</th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
	<td id="pubstate-<%= event.id %>">
		<% if event.published? %>
			<%= render :partial => 'admin/events/link_hide', :locals => { :event => event } %>
		<% else %>
			<%= render :partial => 'admin/events/link_publish', :locals => { :event => event } %>
		<% end %>
  	</td>
    <td><%= link_to 'Edit', edit_admin_event_path(event), :class => "edit" %></td>
	<td><%= link_to event.title, admin_event_path(event) %></td>
    <!--<td><%= event.description %></td>-->
    <td><%= event.location %> (<%= map_link(event.location) %>)</td>
    <td><%= event.start_time %></td>
    <td>
		<% if event.organisation %>
			<%= link_to event.organisation.name, admin_organisation_path(event.organisation) %>
		<% else %>
			N/A
		<% end %>
	</td>
    <td>
		<% if event.url && event.url.length > 1 %>
			<%= link_to "#{event.url[0..20]}...", event.url %>
		<% else %>
			N/A
		<% end %>
	</td>
    <td>
		<% if event.source && event.source.length > 1 %>
			<%= event.source %>
		<% else %>
			N/A
		<% end %>
	</td>
    <td>
		<% if event.telephone && event.telephone.length > 1 %>
			<%= event.telephone %>
		<% else %>
			N/A
		<% end %>
	</td>
    <td>
		<% if event.email && event.email.length > 1 %>
			<%= link_to event.email, "mailto:#{event.email}" %>
		<% else %>
			N/A
		<% end %>
	</td>
    <td>
		<% if event.people && event.people.length > 1 %>
			<%= event.people %>
		<% else %>
			N/A
		<% end %>
	</td>
    <td>
<%= event.notes %>
	</td>
    <td><%= link_to 'Destroy', admin_event_path(event), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Event', new_admin_event_path %>
