<%= render :partial => "admin/events/header" %>

<p id="notice"><%= notice %></p>

<p>
  <% if @event.published? %>
	<div class="published-show">published</div>
  <% else %>
	<div class="draft-show">draft</div>
  <% end %>
</p>

<p>
  <b>Title:</b>
  <%= @event.title %>
</p>

<p>
  <b>Description:</b>
  <%= @event.description %>
</p>

<p>
  <b>Location:</b>
  <%= @event.location %>
</p>

<p>
  <b>Start time:</b>
  <%= @event.start_time %>
</p>

<p>
  <b>Organisation:</b>
  <%= @event.organisation %>
</p>

<p>
  <b>Url:</b>
  <%= @event.url %>
</p>

<p>
  <b>Source:</b>
  <%= @event.source %>
</p>

<p>
  <b>Telephone:</b>
  <%= @event.telephone %>
</p>

<p>
  <b>Email:</b>
  <%= @event.email %>
</p>

<p>
  <b>People:</b>
  <%= @event.people %>
</p>

<p>
  <b>Notes:</b>
  <%= @event.notes %>
</p>


<%= link_to 'Edit', edit_admin_event_path(@event) %> |
<%= link_to 'Back', admin_events_path %>
