<h1>Admin::Index#index</h1>
<p>Hello! Welcome to the admin section</p>

<ul>
    <li><%= link_to "Events", admin_events_path %></li>
    <li><%= link_to "Organisations", admin_organisations_path %></li>
</ul>

<div id="bulk-add-events">
    <h2>Bulk add events</h2>
    <%= form_for :csv, :url => "/admin/events/ingest", :html => { :multipart => true, :method => :post } do |f| -%>
        <div><%= f.file_field "file" %> </div>
        <div><%= f.submit 'Upload CSV' %></div>
    <% end -%>
</div>