<%= week %>
<li class="event" id="event-id-<%=CGI.escape(event.title)%>">
  <%= calendar_page %>
  <div class="nontime">
    <h4><%=link_to event.title, event_path(event) %></h4>
    <p class="data">
      <!-- <span class="time"><%= event.start_time %><span class="ampm"><%= event.start_ampm %></span></span> at -->
      <span><%= event.location %> (<%= map_link(event.location) %>)</span>,

      <% if event.organisation %>
		<span><%= link_to event.organisation.name, organisation_path(event.organisation) %></span>
	  <% end %>
    </p>
  </div>
</li>