<li class="event">
  <div>
    <div>
      <h4><%=event.title %></h4>
      <div>
        <div class="event-calendar-page">
          <span class="month"><%= event.start_month %></span>
          <span class="day"><%= event.start_day %></span>
        </div>
        <span class="time"><%= event.start_time %><span class="ampm"><%= event.start_ampm %></span></span>
      </div>
    </div>
    <ul class="event-details">
      <li><%= event.location %></p>
      <li><%= event.description %></p>
      <li><%= event.organisation.name %></p>
    </ul>
  </div>
</li>