<%= week %>
<li class="event">
  <%= calendar_page %>
  <div class="nontime">
    <h4><%=link_to event.title, admin_events_path(@event) %></h4>
  </div>
  <div class="datetime">
    <span class="time"><%= event.start_time %><span class="ampm"><%= event.start_ampm %></span></span>
  </div>
</li>