<%
#= week 
#disable week heading for now
%>
<li id="event-<%= event.id %>" class="event grid24col clearboth">
	<span class="star grid1col left">
		<% if person_signed_in? and event.starred?(current_person) %>
			<%= render :partial => "events/link_unstar", :locals => { :event => event } %>
		<% else %>
			<%= render :partial => "events/link_star", :locals => { :event => event } %>
		<% end %>
	</span>
	
	<!-- title -->
	<h3 class="grid9col left marginleft"><%= event.title.html_safe %></h3>
	
	<!-- tags -->
	<div class="grid7col left">
		<ul class="tags" style="background-color: red;">
			<% first_tag = true 
			event.combined_tags.each do |tag_set| %>
				<% tag_set.each do |tag| %>
					<li class="left"><a href="#" <% if first_tag %>class="primary-tag" <% end %>title="<%= tag.name %>"><%= tag.name %></a></li>
					<% first_tag = false if first_tag
				end %>
			<% end %>
		</ul>
		<br class="clearboth" />
	</div>
	
	<!-- organiser -->
	<span class="small-star grid1col left marginleft">
		<% 
		#if person_signed_in? and event.starred?(current_person) 
		%>
			<%
			#= render :partial => "organisations/link_unstar", :locals => { :org => event.organisation } 
			%>
		<% 
		#else 
		%>
			<%= 
			#render :partial => "organisations/link_star", :locals => { :org => event.organisation } 
			%>
		<% 
		#end 
		%>
	</span>
	<span class="grid2col left marginleft small">
		<% if event.organisation %>
			<%= link_to event.organisation.name.html_safe, organisation_path(event.organisation), :class => "organiser" %>
		<% end %>
	</span>
	
	<!-- date -->
	<span class="grid2col left marginleft small subtle">
		<strong>Mon June 14</strong><br />
		London
	</span>
	
	<!-- actions -->
	<div class="grid2col left marginleft">
		<a class="attend-button grid2col">Attend</a>
		<a class="share-button grid2col">Share</a>
	</div>
	<br class="clearboth" />
	
	<!-- quick preview -->
	<div class="preview">
	  
	  <div class="description"><%= event.description.html_safe %></div>
	  
	  <ul class="comments">
	    <% [["Great looking event!","John Floggs"],["Wow, I earned my BlackStar, go me.","Herbet McFluppet"]].each do |comment, commentor| %>
	      <li>
	        <p class="comment"><%= comment %></p>
	        <p class="commentator"><%= commentor %></p>
	      </li>
	    <% end %>
	  </ul>
	  <div class="organiser">
      <div class="organiser-description">
		<% if event.organisation %>
        	<%= event.organisation.description %>
		<% else %>
			We're waiting for a description for this organiser.
		<% end %>
      </div>
      <dl class="organiser-details">
        <dt>Telephone:</dt>
        <dd><%= event.telephone %></dd>
        <dt>Email:</dt>
        <dd><%= event.email     %></dd>
      </dl>
	  </div>
	</div>
	
</li>
