<h2><%= @event.title %></h2>

<p>
  <%= @event.description %>
</p>

<hr />

<p>
  <b>Location:</b>
  <%= @event.location %>
</p>

<p>
  <b>Start time:</b>
  <%= @event.start_time %>
</p>

<p>
  <b>Organisation:</b>
  <%= @event.organisation %>
</p>

<p>
  <b>Url:</b>
  <%= @event.url %>
</p>

<p>
  <b>Source:</b>
  <%= @event.source %>
</p>

<p>
  <b>Telephone:</b>
  <%= @event.telephone %>
</p>

<p>
  <b>Email:</b>
  <%= @event.email %>
</p>

<p>
  <b>People:</b>
  <%= @event.people %>
</p>

<p>
  <b>Notes:</b>
  <%= @event.notes %>
</p>


<%= link_to 'Back', root_path %>
