<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
  <head>
    <title>
      The Business Diary
    </title>
    <%= stylesheet_link_tag 'application', 'scaffold', 'yui/yui' %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div id="doc3" class="yui-t7">
    
      <div id="masthead" role="banner">
        <h1>
          <a id="go-home" href="/" title="Back to the homepage" name="go-home">
            <img class="logo" alt="The Business Diary" src="/images/logo1.png">
          </a>
        </h1>
      </div>
      
      <div id="bd" role="main">
        <div class="yui-g">
          <div id="messages">
            <% if flash[:error] -%>
            <p class='error'>
              <%=h flash[:error] %>
            </p>
            <% end -%>
            
            <% if flash[:success] -%>
            <p class='success'>
              <%=h flash[:success] %>
            </p>
            <% end -%>
            
            <% if flash[:info] -%>
            <p class='info'>
              <%=h flash[:info] %>
            </p>
            <% end -%>
          </div>
          
          <%= yield %>
        </div>
      </div>
      
      <div id="ft" role="contentinfo">
        <!-- no footer content yet --!>
      </div>
    </div>
  </body>
</html>